* {
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
    background: #00171F;
}

body {
	font-family: 'IBM Plex Sans', sans-serif;
}
button {
	font-family: 'Questrial', sans-serif;
}

header {
    display: flex;
    line-height: 10vh;
    
	width: 80%;
    height: 10vh;
    top: 0;
	margin: auto;
    align-items: center;
   
    
}


.logo-container,
.nav-links,
.cart {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 400;
	margin: 5px;
}
nav {
	flex: 1;
}
.nav-links {
	justify-content: space-around;
	list-style: none;
}
.nav-link {
	color: #fff;
	font-size: 18px;
    text-decoration: none;
    padding: 5px;
}
.cart {
	flex: 1;
    justify-content: flex-end;
    color: #fff;
}

.main {
	display: flex;
	padding: 50vh;
}
.it {
	font-weight: 100;
}
.para button {
	
	color: white;
	font-size: 20px;
	border-radius: 30px;
	padding: 10px;
	margin-top: 20px;
	pointer-events: fill;
	transition: 0.25s ease-in;
	
}
.para button:hover {
	background: white;
	color: #00171F;
}
.head {
	
	text-align: center;
	
	color: white;
	margin-left: 1.5em;
	
	font-size: 35px;
	font-weight: 100;
	
	
}

.head h1 {
	padding-top: 180px;
	letter-spacing: 1em;
}
.para {
	
	width: 35vw;
	font-size: 20px;
	margin: auto;
	text-align: center;
	
	line-height: 30px;
	color: white;
}
.head p {
	
	
}
.ip img {
	width: 120vh;
	margin-left: 30.8vh;
	
}
